@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --bg-app: #f8fafc;
  --bg-surface: #ffffff;
  --bg-surface-hover: #f1f5f9;
  --bg-input: #f8fafc;
  --border-subtle: #e2e8f0;
  --text-main: #0f172a;
  --text-muted: #64748b;
}

.dark {
  --bg-app: #020617;
  --bg-surface: #0f172a;
  --bg-surface-hover: #1e293b;
  --bg-input: #020617;
  --border-subtle: #1e293b;
  --text-main: #f8fafc;
  --text-muted: #94a3b8;
}

body {
  background-color: var(--bg-app);
  color: var(--text-main);
  transition: background-color 0.2s ease, color 0.2s ease;
}
